<!DOCTYPE html>

<html>
    <head>
        <title>Ciro's express exercise</title>
        <link rel='stylesheet' href='css/style.css'/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/geton.PNG"/>
            <p>Please contact {{author}} at {{contact}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>